@import url('https://fonts.googleapis.com/css2?family=Island+Moments&family=Poppins:wght@300&display=swap');

html {
    height: 100%;
}

body {
    background: url('/media/homepage-hero.jpeg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #59514D;
    font-family: 'Poppins', sans-serif;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: #F4D57B;
    color: white;
    min-width: 260px;
}

.btn-yellow {
    background: #F4D57B;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-grey:hover,
.btn-grey:active,
.btn-grey:focus {
    background: #59514D;
    color: white;
}

.text-grey {
    color: #59514D !important;
}

.border-black {
    border: 1px solid black !important;
}

.navbar-brand {
    font-size: 3em;
    float: left;
    font-family: 'Island Moments', cursive;
}

.jumbotron {
    background-color: rgba(255, 255, 255, 0.8);
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* add extra padding to push content below navbar on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    .body {
        height: calc(100vh - 116px);
    }
}